[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
twine = "*"
grpcio = "*"

[dev-packages]
grpcio-tools = "*"
bpython = "*"

[requires]
python_version = "3.6"
